{% extends 'agent/agentindex.html' %}
{% block body %}
<img src="/static/homeimg/agent.jpg" height="1000" width="1300">
{#<body><form action="" method="get">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><p><a href="/mapplication">View Labours details Approve or Reject</a></p>#}
{#          <p><a href="/mapplication1">View Approved Labours</a></p>#}
{#          <p><a href="/custrqst">View Customers Request</a></p>#}
{#      <p><a href="/workassign">Assign Works to Labours</a></p>#}
{#      <p><a href="/aaccomadate">Allocate Accomodation</a></p>#}
{#          <p><a href="/vsts">Update  Status</a></p>#}
{#      <p><a href="/labsalary">Salary Management</a></p>#}
{#         <p><a href="/vlfeed">View labour Feedback</a></p>#}
{#        <p><a href="/vcfeed">View customer Feedback</a></p>#}
{#      <p><a href="/vnoti">View Notification</a></p>#}
{#      <p><a href="/vsp">View Schemes and Policies</a></p>#}
{#      <p><a href="/apayment">Payment</a></p>#}
{#      </td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
