{% extends 'agent/agentindex.html' %}
{% block body %}

<body><center><form action="/k/{{ laid }}" method="post"><table>

  <tr>
      <th scope="row">Place</th>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
  <tr>
      <th scope="row">Post</th>
      <td><input type="text" name="textfield3" id="textfield2" class="form-control" required/></td>
    </tr>
   <tr>
      <th scope="row">Pin</th>
      <td><input type="text" name="textfield4" id="textfield2" class="form-control" required/></td>
    </tr>
   <tr>
      <th scope="row">Latitude</th>
      <td><input type="text" name="textfield5" id="textfield2"  class="form-control" required/></td>
    </tr>
   <tr>
      <th scope="row">Longitude</th>
      <td><input type="text" name="textfield6" id="textfield2" class="form-control" required/></td>
    </tr>
  <tr>
    <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="accomodate" class="btn btn-primary"/></td>
    </tr>
</table>
</form>
</center>
</body>
{% endblock %}