{% extends 'agent/agentindex.html' %}
{% block body %}

<body><form action="" method="get"><table width="200" border="1" class="table table-striped">
  <tr>
    <th scope="col" class="text-dark" style="color: black">#</th>
    <th scope="col" class="text-dark" style="color: black">Notification</th>
    <th scope="col" class="text-dark" style="color: black">Date</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['Notification'] }}</td>
    <td>{{ i['Date'] }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
{% endblock %}
