{% extends 'agent/agentindex.html' %}
{% block body %}

<body>
<center>
<form id="form1" name="form1" method="post" action="/apayment1">
  <table>

        <tr>
      <th scope="row">Account Number</th>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield7" id="textfield8" value="{{ acc }}" required class="form-control"/></td>
    </tr>
      <tr>
      <th scope="row">IFSC code</th>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield8" id="textfield9" value="{{ ifsc }}" required class="form-control"/></td>
    </tr>
      <tr>
      <th scope="row">Amount</th>
      <td><label for="textfield10"></label>
      <input type="text" name="textfield9" id="textfield10" value="{{ amount }}" readonly required class="form-control"/></td>
    </tr>
      <tr>
      <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="Pay" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</center>
</body>
{% endblock %}