{% extends 'agent/agentindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addsts1">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="col" class="text-dark" style="color: black">#</th>
      <th scope="col" class="text-dark" style="color: black">Status</th>
      <th scope="col" class="text-dark" style="color: black">Description</th>
      <th scope="col" class="text-dark" style="color: black">Date</th>
        <th></th>


    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ i['Status'] }}</td>
      <td>{{ i ['Description'] }}</td>
      <td>&nbsp;{{ i ['Date'] }}</td>
       <td><p><a href="/upsts/{{ i['Status_Id'] }}">Update</a></p>

    </tr>
      {% endfor %}
  <tr align="center">
      <td colspan="5"><input type="submit" value="Add Status" class="btn btn-primary"></td>
  </tr>
  </table>
</form>
</body>
{% endblock %}
