{% extends 'customer/customerindex.html' %}
{% block body %}
<img src="/static/homeimg/customer1.jpg" height="1000" width="1300">
{#<body><form action="" method="get">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><p><a href="/clarqst">Request for Labour to Agent</a></p>#}
{#          <p><a href="/vsrqst">View Status Of Request</a></p>#}
{#      <p><a href="/vwork">Payment</a></p>#}
{#      <p><a href="/custfeed">Add Feedback</a></p>#}
{##}
{##}
{##}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
