{% extends 'admin/adminindex.html' %}
{% block body %}
<img src="/static/homeimg/admin.jpg" height="1000" width="1300">
{#<body><form action="" method="get">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><p><a href="/magent">Approve or Reject Agent</a></p>#}
{#          <p><a href="/mapprovedagent">Approved Agent</a></p>#}
{#      <p><a href="/mstatus">View Agent Status</a></p>#}
{#      <p><a href="/mlabour">Approve or Reject Labours</a></p>#}
{#        <p><a href="/mapprovedlabour">Approved Labours</a></p>#}
{#      <p><a href="/mcustomer">Approve or Reject Customers</a></p>#}
{#         <p><a href="/mapprovedcustomer">Approved Customers</a></p>#}
{#      <p><a href="/mcompany">Approve or Reject Insurance</a></p>#}
{#      <p><a href="/mapprovedcompany">Approved Insurance</a></p>#}
{#      <p><a href="/mnoti">Sent Notifications</a></p>#}
{#       <p><a href="/mlfeed">View labour feedback</a></p>#}
{#      <p><a href="/mcfeed">View customer Feedback</a></p></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
