{% extends 'admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="col" class="text-dark" style="color: black">#</th>
      <th scope="col" class="text-dark" style="color: black">Company Name</th>
      <th scope="col" class="text-dark" style="color: black"><p>Company Address</p></th>
      <th scope="col" class="text-dark" style="color: black">Phone Number</th>
      <th scope="col" class="text-dark" style="color: black">Email</th>
      <th scope="col" class="text-dark" style="color: black">Licence No</th>
      <th scope="col" class="text-dark" style="color: black">Licence Image</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['Company_name'] }}</td>
      <td>{{ i['Company_place'] }} <br>{{ i['Company_post'] }} <br>{{ i['Company_pin'] }}<br> {{ i['District'] }}</td>
      <td>{{ i['Phone_no'] }}&nbsp;</td>
      <td>{{ i['Email'] }}&nbsp;</td>
      <td>&nbsp;{{ i['Licence_no'] }}</td>
      <td>&nbsp;<img src="{{ i['Licence_image'] }}" width="100" height="100"/> </td>
      <td><p><a href="/coapprove/{{ i['Login_Id'] }}">Approve</a></p>
      <p><a href="/coreject/{{ i['Login_Id'] }}">Reject</a></p></td>
  </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
