{% extends 'insurance/insuranceindex.html' %}
{% block body %}
<img src="/static/homeimg/insurance.jpg" height="900" width="1300">
{#<body><form action="" method="get">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><p><a href="/mpolicy">Manage policy</a></p>#}
{#          <p><a href="/rview">Request View And Approval</a></p>#}
{#      <p><a href="/vpolicy">Renewal</a></p>#}
{#      <p><a href="/ipayment">Payment</a></p>#}
{##}
{##}
{##}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
