{% extends 'labours/labourindex.html' %}
{% block body %}
    <img src="/static/homeimg/labour.jpg" height="1000" width="1300">
{#<body><form action="" method="get">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><p><a href="/search">View vaccancies And Send Request</a></p>#}
{#          <p><a href="/vstatus">View Status Of Job Request</a></p>#}
{#      <p><a href="/vwork">View Assigned Works</a></p>#}
{#      <p><a href="/vaccom">View Accommodation</a></p>#}
{#        <p><a href="/vsalary">View Salary Details</a></p>#}
{#      <p><a href="/afeed">Add Feedback</a></p>#}
{##}
{##}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}
