{% extends 'labours/labourindex.html' %}
{% block body %}

<body>
<center>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="col" class="text-dark" style="color:black">#</th>
      <th scope="col" class="text-dark" style="color:black">Place</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i['Place'] }} {{ i['Post'] }} {{ i['pin'] }}</td>
     <td><a href="https://www.google.co.in/maps/@{{ i['Latitude'] }},{{ i['Longitude'] }}">View Google Map</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</center>
</body>
{% endblock %}
