<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login_value">
<table width="345" border="1">
  <tr>
    <th width="92" scope="row">username</th>
    <td width="237"><label for="textfield"></label>
      <input type="text" name="uname" id="uname" /></td>
  </tr>
  <tr>
    <th scope="row">password</th>
    <td><input type="password" name="upwd" id="upwd" /></td>
  </tr>
  <tr>
    <th height="65" colspan="2" scope="row"><p>
      <input type="submit" name="button" id="button" value="login" />
  </p>
      <p><a href="/signup">Agent SignUp</a></p>
      <p><a href="/lsignup">Labour SignUp</a></p>
      <p><a href="/csignup">Customer SignUp</a></p>
      <p><a href="/icsignup">Insurance Company SignUp</a></p></th>
  </tr>
</table>

</form>

</body>
</html>
